<div class="card mb-3 text-center">
  <h2 class="card-header h4">
    Level #<%= level.id %>
  </h2>

  <div class="card-body">
    <div>
      <%= level.directions %>
    </div>
    <ul class="list-group p-4">
    <% session[:step_query].each_with_index do |step, index| %>
      <li class="list-group-item d-flex justify-content-between align-items-center border border-dark">
        <%= step %>
        <span>
          <a href="/remove_step/<%= index %>">
            <i class="far fa-trash-alt text-danger"></i>
          </a>
        </span>
      </li>
    <% end %>
    </ul>

    <div class="text-left">
      <%= render "query_form", query: @query, level: @level %>
    </div>
  </div>
</div>
