<tr>
  <td>
    <%= movie.id %>
  </td>
  <td>
    <%= movie.title %>
  </td>
  <td>
    <%= movie.year %>
  </td>
  <td>
    <%= movie.duration %>
  </td>
  <td>
    <%= movie.director_id %>
  </td>
</tr>
