<div class="row justify-content-center mb-3 mt-3">
  <div class="col-md-8 ">
    <%= render object: @level, partial: "card", as: :level %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="h3 text-center">
      Your Query returned <%= @return_type == "column" ? "#{@result.class}".capitalize : @return_type.capitalize %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <%= render "#{@class_name.downcase.pluralize}/" + @header, value: @header_column %>

        <tbody>
          <% if !@type.nil? %>
            <%= render partial: "#{@class_name}".downcase, collection: @result, as: "#{@class_name.downcase}".to_sym %>
          <% elsif @return_type == "column" %>
            <%= render partial: "column", object: @result %>
          <% elsif @return_type == "array" %>
            <% @result.each do |result| %>
              <tr>
                <td>
                  <%= result %>
                </td>
              </tr>
            <% end %>
          <% elsif @return_type == "error" || @return_type == "nil" %>
            <%= render partial: "array_value", locals: {value: @result} %>
          <% else %>
            <%= render partial: "#{@class_name}".downcase, object: @result, as: "#{@class_name.downcase}".to_sym %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @correct %>
  <%= link_to "Next Level", level_path(@next_level), class: "btn btn-dark" %>
<% end %>
