<%= @res %>
<%= @correct %>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">

        <%= render @header %>

        <tbody>
          <% if !@type.nil? %>
            <%= render partial: 'movie', collection: @result, as: :movie %>
          <% elsif @return_type == "column" %>
            <%= render partial: "movie_column", object: @result %>
          <% else %>
            <%= render partial: 'movie', object: @result, as: :movie %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= @matched_data %>