<div class="row justify-content-center mb-3 mt-3">
  <div class="col-md-8 ">
    <%= render object: @level, partial: "card", as: :level %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="h3 text-center">
      <% if @return_type == "collection" %>
        <% relation_result = @result.class.to_s.with_indefinite_article.split %>
        Your Query returned <%= "#{relation_result.first} <code>#{relation_result.last}</code>".html_safe %>
      <% else %>
        Your Query returned <%= @return_type == "column" ? @result.class.to_s.with_indefinite_article : @return_type.to_s.capitalize.with_indefinite_article %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <%= render "#{@class_name.downcase.pluralize}/" + @header, value: @header_column %>

        <tbody>
          <% if !@type.nil? %>
            <%= render partial: "#{@class_name}".downcase, collection: @result, as: "#{@class_name.downcase}".to_sym %>
          <% elsif @return_type == "column" %>
            <%= render partial: "column", object: @result %>
          <% elsif @return_type == "array" %>
            <% @result.each do |result| %>
              <tr>
                <td>
                  <%= result %>
                </td>
              </tr>
            <% end %>
          <% elsif @return_type == "error" || @return_type == "nil" %>
            <%= render partial: "array_value", locals: {value: @result} %>
          <% else %>
            <%= render partial: "#{@class_name}".downcase, object: @result, as: "#{@class_name.downcase}".to_sym %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @correct %>
  <%= link_to "Next Level", level_path(@next_level), class: "btn btn-dark" %>
<% end %>
