<%= @res %>
<%= @correct %>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        - <%= @header_column %>
        - <%= @column %>
        - <%= @matched_data %>
        <%= render "#{@class_name.downcase.pluralize}/" + @header, value: @header_column %>

        <tbody>
          <% if !@type.nil? %>
            <%= render partial: "#{@class_name}".downcase, collection: @result, as: "#{@class_name.downcase}".to_sym %>
          <% elsif @return_type == "column" %>
            <%= render partial: "#{@class_name.downcase.pluralize}/#{@class_name.downcase}_column", object: @result %>
          <% elsif @return_type == "array" %>
          <%#= render :partial => 'graph_preview_item', :collection => @available_graphs, :as => :item %>
            <% @result.each do |result| %>
              <%#= render partial: "array_value", value: result %>
              <tr>
                <td>
                  <%= result %>
                </td>
              </tr>
            <% end %>
          <% elsif @return_type == "error" %>
            <%= render partial: "array_value", locals: {value: @result} %>
          <% else %>
            <%= render partial: "#{@class_name}".downcase, object: @result, as: "#{@class_name.downcase}".to_sym %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= @matched_data %>

<%= link_to "Next Level", level_path(@next_level) %>
